.banner {
  background-image: url('/banner-image.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 60vh;
  padding-bottom: 50px;
}

.banner-div {
  width: 500px;
}

.button-banner {
  color: white;
  background-color: rgb(139, 195, 62);
  border-radius: 40px;
  width: 100%;
  font-size: 30px;
  font-weight: bolder;
  height: 75px;
  padding: 10px 0px;
  margin: 10px 0px;
}

.banner-div h3,
.banner-div p {
  color: white;
  text-align: center;
}

.banner-div h3 {
  font-weight: bolder;
  font-size: 40px;
}

.banner-div p {
  font-size: 15px;
  font-weight: 500;
}

.content {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.content-small-divs {
  height: 25vh;
  width: 100%;
  justify-content: center;
}

.content-small-divs div {
  width: 25%;
  margin: 0px 30px;
  text-align: center;
  font-size: 20px;
  line-height: 1.25;
}

.content-small-divs h2 {
  margin-bottom: 20px;
}

.button-read-more {
  color: rgb(39, 125, 253);
  border-radius: 20px;
  height: 50px;
  width: 175px;
  padding-top: 10px;
  margin-top: 20px;
}

.content-2 {
  background-color: rgb(139, 195, 62);
  color: white;
  height: 60vh;
}

.content-2 p {
  color: white;
  font-size: 18px;
}

.content-2-divs {
  width: 75%;
  flex-direction: row;
}

.content-2-divs div {
  width: 45%;
  padding: 20px;
}

.content-3 {
  height: 40vh;
  text-align: center;
}

.content-3 div {
  width: 500px;
}

.content-4 {
  height: 60vh;
  background-color: rgb(30, 147, 210);
}

.content-4 div {
  width: 75%;
  text-align: center;
  padding-top: 50px;
  font-size: 18px;
}

/* MOBILE OPTIMIZATION */

@media only screen and ( max-width : 850px ) {
  .banner-div {
    width: 80%;
  }

  .banner-div h3 {
    font-size: 35px;
  }

  .button-banner {
    padding-top: 15px;
    font-size: 25px;
  }

  .content {
    height: 130vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .content div {
    text-align: center;
  }

  .content-small-divs {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
    width: 100%;
  }

  .content-small-divs div {
    width: 100%;
  }

  .content-2 {
    height: 130vh;
    text-align: center;
  }

  .content-2-divs {
    flex-direction: column;
    width: 100%;
  }

  .content-2-divs div {
    text-align: start;
    width: 100%;
  }

  .content-3 {
    height: 30vh;
  }

  .content-3 div {
    width: 80%;
  }

  .content-4 {
    height: 130vh;
  }

}

